*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	margin: 0;
	padding: 0;
}

html:has(dialog[open]) {
	overflow: hidden;
}

body {
	background: var(--color-grey-900);
	color: var(--color-grey-200);
	font-family: var(--font-sans);
	font-size: var(--text-base);
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-underline-offset: 0.25em;
	border-radius: 0.25em;
	corner-shape: var(--corner-shape);
	outline: 0 solid var(--color-blue-500);
	outline-offset: 2px;
	transition: 100ms ease-out;
	transition-property: text-decoration, outline;

	&:focus-visible {
		text-decoration: 0;
		outline: 0.125em solid var(--color-blue-500);
	}
}
