/**
 * Theme-level custom properties.  Includes "raw" values, as well as semantic
 * design token variables.
 */

:root {
	--color-grey-050: oklch(98.5% 0 0);
	--color-grey-100: oklch(96.7% 0.001 286.375);
	--color-grey-200: oklch(92% 0.004 286.32);
	--color-grey-300: oklch(87.1% 0.006 286.286);
	--color-grey-400: oklch(70.5% 0.015 286.067);
	--color-grey-500: oklch(55.2% 0.016 285.938);
	--color-grey-600: oklch(44.2% 0.017 285.786);
	--color-grey-700: oklch(37% 0.013 285.805);
	--color-grey-800: oklch(27.4% 0.006 286.033);
	--color-grey-900: oklch(21% 0.006 285.885);
	--color-grey-950: oklch(14.1% 0.005 285.823);

	--color-blue-100: oklch(95.1% 0.026 236.824);
	--color-blue-500: oklch(68.5% 0.169 237.323);

	--corner-shape: squircle;
}
